@model List<Documentviewer.Models.DocumentModel>

@{
    ViewData["Title"] = "Document Search";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/dashboard.js"></script>
</head>

<body>
    <h2>📄 Document Search</h2>

    <div class="mb-3">
        <input type="text" id="keyword" placeholder="Enter keyword..." class="form-control" style="width:300px; display:inline-block;" />
        <button id="searchBtn" class="btn btn-primary">Search</button>
        <button id="resetBtn" class="btn btn-secondary">Reset</button>
    </div>

    <table id="documentTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Document Name</th>
                <th>Uploaded On</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.FileName</td>
                    <td>@doc.UploadedOn.ToString("dd-MMM-yyyy")</td>
                    <td>
                        <button class="btn btn-link btn-view" data-filename="@doc.FileName">Open</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p id="noResults" style="display:none;">No documents found.</p>

    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">View Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="pdfFrame" src="" width="100%" height="580px" style="border:none;"></iframe>
                </div>
            </div>
        </div>
    </div>

</body>


